.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 22;
  }

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #6cb0e1;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}


.social a{
  padding: 6px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
}
.social a:hover{
  color :#239678;
  transition: color 0.5s;
}
.icon:hover {
  fill: #239678;
  transition: fill 0.5s;
}
.icon {
  font-size: large;
}

@media (max-width: 700px) {
  .header {
    position: relative;
    
  }
}
