.card {
    display: flex;
    flex-direction: column;
    background-color: #def1ff;
    border-radius: 5px;
    width: 32%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}
.description h2 {
    color: #439ccc;
    margin-bottom: 10px;
}

.description h3 {
    margin-top: 10px;
    color: #439ccc;
}

.description h3:hover {
    color: #497fe3;
}

@media (max-width: 700px) {
    .card {
        width: 100%;
    }
}

