.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
  }

  .colorBackground {
    background-color: #6cb0e1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

.nav a {
  margin: 10px;
}

.nav img{
  padding-left: 10px;
  padding-bottom: 3px;
  transition: width 0.5s ease-in-out;
}
  