.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
    z-index: 21;
    padding-left: 20px;
    padding-right: 20px;
  }

  .colorBackground {
    background-color: #6cb0e1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }



.nav a:hover{
  color: #239678;
  transition: color 0.5s;
}

.nav img{
  padding-top: 6px;
  padding-bottom: 6px;
  transition: width 0.5s ease-in-out;
}

.links a {
  margin-left: 20px;
}

@media (max-width: 700px) {
  .nav {
    background-color: #6cb0e1;
    min-height: 125px;
  }
}
  