.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    background-color: #6cb0e1;
  }
  
  .column{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
  }
  
  .footer h2{
    margin-bottom: 10px;
  }
  .footer a{
    margin-bottom: 15px;
    margin-right: 10px;
    color:#ffffff;
    cursor: pointer;
  
  }
  .footer a:hover{
    color: #239678;
    transition: color 0.5s;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .social a{
    padding-right: 15px;
    font-size: large;
    
  }

/* Mobile */
@media (max-width: 700px) {
  
    .footer div {
      width: 90%;
    }
  
  }