.main {
    background-color: #faf3e3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  
  .panel {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #fac751;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 0% 17% 0% 17%;
  }
  
  .panel h1{
    font-size: 4em;
    padding-top: 200px;
    padding-bottom: 100px;
    
    color: #faf3e3;
    margin-bottom: 0px;
  }

 .contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0% 12% 0% 12%;
  color: #fac751;
 }
 .column {
  display: flex;
  flex-direction: column;
 }
 .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
 }

 .subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #239678;
  color: #fac751;
 }
 .subscribe h2{
  padding-left: 10%;
  padding-right: 10%;
 }
  
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    .card:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
  
    .card:hover span {
      transform: translateX(4px);
    }
  }
  
  @media (prefers-reduced-motion) {
    .card:hover span {
      transform: none;
    }
  }
  
  /* Mobile */
  @media (max-width: 700px) {
    .main {
      align-items: normal;
    }
    .panel {
      background-image: none;
      background-color: #faf3e3;
      padding: 10%;
      align-items: left;
  
    }
    .panel h1{
      padding-top: 100px;
      padding-bottom: 50px;
      font-size: 4em;
      color:#6cb0e1;
    }
    .panel p {
      font-size: 1.5em;
      color: #6cb0e1;
    }
    
    .panel a{
        display: inline-block;
        padding: 10px 20px;
        border-radius: 4px;
        background: linear-gradient(to right, #85baff, #4997fc);
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
        width: 150px;
        margin-top: 8px;
    }

    .contact {
      padding: 30px 12% 30px 12%;
    }
    .row {
      flex-wrap: wrap;
    }

  }
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .vercelLogo {
      filter: invert(1);
    }
  
    .logo {
      filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }